@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.text_color {
  color: rgb(100, 21, 255);
}

/* NAV BAR */

nav {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav_desktop {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
}

.nav_link--logo-link {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 24px;
  color: rgb(36, 62, 99);
  /* color: navy; */
  font-style: inherit;
}

.nav_link--logo-link img {
  margin-right: 0.75em;
  width: 2.5rem;
}

.nav_link--list {
  display: flex;
  padding: 16px;
}

.nav_link--anchor {
  margin: 0 12px;
  color: black;
  font-weight: 700;
}

.nav_link--anchor-primary {
  background-color: rgb(100, 21, 255);
  color: white;
  padding: 8px 20px;
  border-radius: 50px;
  font-weight: 700;
}

/*  COLUMNS */

.TwoColumn_container {
  position: relative;
}

.container_columns {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1280px;
  padding: 96px 0;
}

.left_column {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  max-width: 32rem;
  margin-top: 2rem;
}

.column_heading {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 3;
}

.column_paragraph {
  font-size: 1.3rem;
}

.left_column--actions {
  position: relative;
  max-width: 28rem;
  text-align: center;
  padding: 16px 0;
  padding-top: 32px;
}

.left_column--actions input {
  width: 100%;
  border-radius: 9999px;
  border-width: 2px;
  padding: 20px 0;
  padding-left: 32px;
  font-weight: 500;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 300ms;
}

.left_column--actions button {
  cursor: pointer;
  position: absolute;
  background-color: rgb(100, 21, 255);
  font-size: 14px;
  width: 100%;
  margin-right: 8px;
  display: inline-block;
  right: 5px;
  margin-top: 6px;
  width: 150px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 9999px;
  font-weight: 700;
  color: rgb(247, 250, 252);
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transforms;
  transition-duration: 300ms;
}

.left_column--customers-logo {
  margin-top: 68px;
}

.left_column--customers-logo p {
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 14px;
}

.left_column--customers-logo img {
  margin-top: 16px;
  width: 100%;
  opacity: 0.5;
  padding-right: 64px;
}

.right_column {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 0%;
  width: 32rem;
}

.right_column--illustration img {
  width: 100%;
  padding-left: 10px;
}

/* Three columns */

.three_columns--container {
  position: relative;
}

.three_column--image-container {
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  justify-content: center;
  max-width: 1024px;
  margin-bottom: 40px;
}

.three_column--image-subheading {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.service_color {
  color: rgb(100, 21, 255);
  padding-left: 5px;
}

.feature_size {
  letter-spacing: 0.1rem;
}

.features_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}

.three_column--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0.5rem;
}

.three_column--image-description {
  width: 70%;
  text-align: center;
  padding-top: 20px;
  color: rgb(124, 139, 161);
  font-size: 18px;
}

.three_column--heading {
  font-size: 3rem;
  text-align: center;
}

.three_column--second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* align-items: flex-start; */
  /* text-align: left; */
  width: calc(100% / 3);
  padding: 24px;
  color: rgb(124, 139, 161);
}

.three_column--card-two {
  display: flex;
}

.title {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.025rem;
  color: rgb(36, 62, 99);
}

.description {
  line-height: 1.5;
  padding-top: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

.imageContainer {
  height: 4rem;
  width: 4rem;
  border-radius: 9999px;
  border-width: 1px;
  padding: 1.25rem;
  text-align: center;
}

.textContainer {
  padding-left: 16px;
}

/* Two columns */

.two_column-container {
  position: relative;
  /* display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%; */
}

.two_column--button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1280px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.two_column--button-image {
  margin-left: auto;
  margin-right: 0;
  width: 100%;
  max-width: 28rem;
  padding-right: 2.5rem;
}

.two_column--image {
  border-radius: 0.25rem;
  border-width: 1px;
  max-width: 100%;
  height: auto;
}

.two_column--text-column {
  margin-left: 0;
  margin-right: auto;
  width: 100%;
  max-width: 28rem;
  display: flex;
  justify-content: flex-start;

}

