@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.text_color {
  color: rgb(100, 21, 255);
}

.app {
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  color: rgb(36, 62, 99);
}

/* NAV BAR */

nav {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav_desktop {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;
}

.nav_link--logo-link {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 24px;
  color: rgb(36, 62, 99);
  /* color: navy; */
  font-style: inherit;
}

.nav_link--logo-link img {
  margin-right: 0.75em;
  width: 2.5rem;
}

.nav_link--list {
  display: flex;
  padding: 16px;
}

.nav_link--anchor {
  margin: 0 12px;
  color: black;
  font-weight: 700;
}

.nav_link--anchor-primary {
  background-color: rgb(100, 21, 255);
  color: white;
  padding: 8px 20px;
  border-radius: 50px;
  font-weight: 700;
}

/*  COLUMNS */

.TwoColumn_container {
  position: relative;
}

.container_columns {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1280px;
  padding: 96px 0;
}

.left_column {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  max-width: 32rem;
  margin-top: 2rem;
}

.column_heading {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 3;
}

.column_paragraph {
  font-size: 1.3rem;
}

.left_column--actions {
  position: relative;
  max-width: 28rem;
  text-align: center;
  padding: 16px 0;
  padding-top: 32px;
}

.left_column--actions input {
  width: 100%;
  border-radius: 9999px;
  border-width: 2px;
  padding: 20px 0;
  padding-left: 32px;
  font-weight: 500;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 300ms;
}

.left_column--actions button {
  cursor: pointer;
  position: absolute;
  background-color: rgb(100, 21, 255);
  font-size: 14px;
  width: 100%;
  margin-right: 8px;
  display: inline-block;
  right: 5px;
  margin-top: 6px;
  width: 150px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 9999px;
  font-weight: 700;
  color: rgb(247, 250, 252);
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transforms;
  transition-duration: 300ms;
}

.left_column--customers-logo {
  margin-top: 68px;
}

.left_column--customers-logo p {
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 14px;
}

.left_column--customers-logo img {
  margin-top: 16px;
  width: 100%;
  opacity: 0.5;
  padding-right: 64px;
}

.right_column {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 0%;
  width: 32rem;
}

.right_column--illustration img {
  width: 100%;
  padding-left: 10px;
}

/* Three columns */

.three_columns--container {
  position: relative;
}

.three_column--image-container {
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  justify-content: center;
  max-width: 1024px;
  margin-bottom: 40px;
}

.three_column--image-subheading {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.service_color {
  color: rgb(100, 21, 255);
  padding-left: 5px;
}

.feature_size {
  letter-spacing: 0.1rem;
}

.features_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}

.three_column--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0.5rem;
  padding-left: 6.25rem;
}

.three_column--image-description {
  width: 70%;
  text-align: center;
  padding-top: 20px;
  color: rgb(124, 139, 161);
  font-size: 18px;
}

.three_column--heading {
  font-size: 3rem;
  text-align: center;
}

.three_column--second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* align-items: flex-start; */
  /* text-align: left; */
  width: calc(100% / 3);
  padding: 24px 1px;
  color: rgb(124, 139, 161);
}

.three_column--card-two {
  display: flex;
}

.title {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.025rem;
  color: rgb(36, 62, 99);
}

.description {
  line-height: 1.5;
  padding-top: 16px;
  display: flex;
  align-items: center;
  text-align: center;
}

.imageContainer {
  height: 4rem;
  width: 4rem;
  border-radius: 9999px;
  border-width: 1px;
  padding: 1.25rem;
  text-align: center;
}

.textContainer {
  padding-left: 16px;
  width: 100%;
  max-width: 300px;
}

/* Two columns */

.two_column-container {
  position: relative;
  /* padding: 0 16px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; */
}

.two_column--button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1280px;
  /* flex-direction: column; */
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.two_column--list {
  display: flex;
  /* align-items: center;
  padding: 56px 0; */
}

.two_column--button-image {
  margin-left: auto;
  margin-right: 0;
  width: 100%;
  max-width: 34rem;
  padding-right: 2.5rem;
}

.two_column--image {
  border-radius: 0.25rem;
  border-width: 1px;
  width: 100%;
  height: auto;
}

.two_column--text-column {
  margin-left: 0;
  margin-right: auto;
  width: 100%;
  max-width: 28rem;
  display: flex;
  justify-content: flex-start;
  padding-left: 2.5rem;
}

.two_column--text-content {
  text-align: left;
}

.two_column--subheading {
  font-weight: 700;
  color: rgb(100, 21, 255);
}

.two_column--product-page {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgb(100, 21, 255);
}

.two_column--button-heading {
  margin-top: 16px;
  font-weight: 900;
  line-height: 1.25;
  font-size: 1.875rem;
}

.two_column--style {
  color: rgb(100, 21, 255);
}

.two_column--button-description {
  margin-top: 16px;
  font-size: 0.875;
  font-weight: 500;
  line-height: 1.625;
  color: rgb(124, 139, 161);
}

.two_column--spacer {
  padding: 16px;
}

.two_column--primary-button {
  border-radius: 9999px;
  background-color: rgb(100, 21, 255);
  padding: 12px 32px;
  font-weight: 700;
  color: rgb(247, 250, 252);
}

/* Done with the top but needs touch up */

/* two column steps container */

.two_column--steps-container {
  position: relative;
}

.two_column--steps-twoColumn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 1280px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.two_column--steps-column {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 28rem;
}

.two_column--steps-image {
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.two_column--step-textColumn {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 28rem;
}

.two_column--step-textContent {
  text-align: left;
}

.two_column--steps-subheading {
  font-weight: 700;
  color: rgb(100, 21, 255);
  /* margin: 0px; */
}

.two_column--span-subheading {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgb(100, 21, 255);
}

.landing_page--heading {
  margin-top: 1rem;
  font-size: 1.875rem;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 0.025rem;
}

.highlighted_text--steps {
  color: rgb(100, 21, 255);
}

.two_column--steps-steps {
  margin-top: 3rem;
}

/*  */

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/*  */

.two_column--steps-steps1 {
  margin-top: 32px;
  display: flex;
}

.two_column--steps-stepnumber {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  color: rgb(203, 213, 224);
}

.two_column--steps-stepText {
  margin-left: 24px;
}

.two_column--stepHeading {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
}

.two_column--stepDescription {
  margin-top: 12px;
  max-width: 320px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
  color: rgb(113, 128, 150);
}

/* Values page */

.twoColumn_horizontalFeatures--container {
  position: relative;
}

.twoColumn_horizontalFeatures--twoColumn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1280px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.twoColumn_horizontalFeatures--imageColumn {
  position: relative;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: 0;
  width: 100%;
  max-width: 30rem;
}

.twoColumn_horizontalFeatures--image {
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.twoColumn_horizontalFeatures--textColumn {
  margin-left: 0;
  margin-right: auto;
  width: 100%;
  max-width: 28rem;
}

.twoColumn_horizontalFeatures--textContent {
  text-align: left;
}

.twoColumn_horizontalFeatures--subheading {
  font-weight: 700;
  font-size: 16px;
  color: rgb(100, 21, 255);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.twoColumn_horizontalFeatures--heading {
  font-size: 2.5rem;
  text-align: left;
  margin-top: 1rem;
}

.twoColumn_featureHeading-highlight {
  color: rgb(100, 21, 255);
}

.twoColumn_horizontalFeatures--description {
  margin-top: 2rem;
  text-align: left;
  color: rgb(124, 139, 161);
  line-height: 1.5;
  font-size: 20px;
}

.twoColumn_horizontalFeatures--features {
  display: flex;
  justify-content: space-between;
}

.twoColumn_horizontalFeatures--feature {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.twoColumn_featureHeading--container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.twoColumn_featureDescription {
  margin-top: 1rem;
  color: rgb(124, 139, 161);
  line-height: 1.5;
}

.twoColumn_horizontal--iconContainer1 {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-color: rgb(100, 21, 255);
  padding-right: 16px;
  text-align: center;
  border-radius: 9999px;
  height: 3rem;
  width: 3rem;
  padding: 13.5px;
  background-color: rgb(154, 230, 180);
  color: rgb(39, 103, 73);
}

.twoColumn_horizontalFeatures--iconContainer2 {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  border-color: rgb(100, 21, 255);
  padding-right: 16px;
  text-align: center;
  border-radius: 9999px;
  height: 3rem;
  width: 3rem;
  padding: 13.5px;
  background-color: rgb(254, 178, 178);
  color: rgb(155, 44, 44);
}

.twoColumn_featureHeading {
  margin-left: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.twoColumn_horizontalFeatures--primaryButton {
  border-radius: 9999px;
  background-color: rgb(100, 21, 255);
  padding: 12px 32px;
  font-weight: 700;
  color: rgb(247, 250, 252);
}

.twoColumn_buttonSpacer {
  margin-top: 3rem;
  display: inline-block;
  font-size: 0.875rem;
  border-radius: 9999px;
}

/* Pricing */

.pricing_page {
  position: relative;
}

.pricing_page--container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.threePlans_headerContainer {
  margin-top: 2.5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.threePlans_subheading {
  margin-bottom: 1rem;
  font-weight: 600;
  color: rgb(100, 21, 255);
}

.threePlans_heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.025rem;
}

.threePlans_highlightedText {
  color: rgb(100, 21, 255);
}

.threePlans_description {
  margin-top: 1rem;
  text-align: center;
  color: rgb(124, 139, 161);
  line-height: 1.25;
  font-size: 20px;
  max-width: 36rem;
}

.threePlans_plansContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.threePlans_plan {
  position: relative;
  margin-top: 4rem;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 8px;
  text-align: center;
  color: rgb(26, 32, 44);
  margin-right: 2rem;
  box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.5);
}

.threePlans_plan2 {
  position: relative;
  margin-top: 4rem;
  margin-right: 2rem;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  border-radius: 8px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 8px;
  text-align: center;
  background-color: rgb(100, 21, 255);
  box-shadow: 0 1px 3px 0 rgb(100, 21, 255);
}

.threePlans_planHighlight {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgb(56, 178, 172);
}

.threePlans_planHighlight3 {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgb(245, 101, 101);
}

.threePlans_planHeader {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
}

.name {
  font-size: 1.25rem;
  font-weight: 700;
}

.name2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}

.price {
  font-size: 3rem;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 700;
}

.price2 {
  color: white;
  font-size: 3rem;
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 700;
}

.duration {
  font-weight: 700;
  letter-spacing: 2px;
  color: rgb(160, 174, 192);
}

.duration2 {
  font-weight: 700;
  letter-spacing: 2px;
  color: rgb(160, 174, 192);
  color: white;
}

.threePlans_planFeatures {
  margin-left: -2rem;
  margin-right: -2rem;
  display: flex;
  flex-direction: column;
  border-top-width: 2px;
  border-bottom-width: 2px;
  padding: 2rem;
}

.feature_mainFeature {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.feature_mainFeature--middle {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}

.feature {
  margin-top: 1.25rem;
  font-weight: 500;
  color: rgb(113, 128, 150);
}
.feature2 {
  margin-top: 1.25rem;
  font-weight: 500;
  color: white;
}
.threePlans_planAction {
  padding: 2rem 1rem;
}

.threePlans_buynowButton {
  background-color: rgb(56, 178, 172);
  width: 100%;
  border-radius: 9999px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.threePlans_buynowButton2 {
  background-color: rgb(247, 250, 252);
  color: rgb(100, 21, 255);
  width: 100%;
  border-radius: 9999px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.threePlans_buynowButton3 {
  background-color: rgb(245, 101, 101);
  width: 100%;
  border-radius: 9999px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

/* TESTIMONIAL */

.test_page {
  position: relative;
}

.test_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.twoColwithimg_row {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
}

.twoCol_imageColumn {
  position: relative;
  margin-left: 0;
  margin-right: auto;
  width: 100%;
  max-width: 40rem;
  display: flex;
}

.twoCol_image {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  display: block;
}

.twoCol_textColumn {
  padding-left: 4rem;
  width: 50%;
}

.twoCol_subheading {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(100, 21, 255);
  letter-spacing: 2px;
}

.twoCol_heading {
  font-size: 3rem;
  text-align: left;
  margin-top: 1rem;
  font-weight: 900;
  line-height: 1.25;
}

.twoCol_highlightedText {
  color: rgb(100, 21, 255);
}

.twoCol_description {
  margin-top: 1.5rem;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625;
  color: rgb(124, 139, 161);
}

.twoCol_testimonialSlider {
  text-align: left;
  margin-top: 2.5rem;
  width: 100%;
  display: block;
  position: relative;
  box-sizing: border-box;
}

.twoCol_slickSlide--slickCloned {
  width: 576px;
  margin-bottom: 4px;
  display: flex;
  height: auto;
  justify-content: center;
}

.twoCol_testimonial {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  outline: transparent solid 2px;
  outline-offset: 2px;
}

.twoCol_starContainer {
  color: gold;
  font-size: 1.25rem;
}

.twoCol_testimonialHeading {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.twoCol_quote {
  margin-top: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgb(124, 139, 161);
}

.twoCol_customersInfo {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.twoCol_customerspfp {
  height: 5rem;
  width: 5rem;
  border-radius: 9999px;
  max-width: 100%;
}

.twoCol_subdivision {
  margin-left: 1rem;
}

/* FAQ section */

.FAQs {
  position: relative;
}

.FAQs_page {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.FAQs_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SingleCol_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SingleCol_HeaderContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SingleCol_subheading {
  color: rgb(100, 21, 255);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.SingleCol_Heading {
  font-weight: 700;
  font-size: 3rem;
}

.SingleCol_HighlightedText {
  color: rgb(100, 21, 255);
}

.SingleCol_Description {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
  max-width: 30rem;
  font-size: 1.125rem;
  line-height: 1.625;
  color: rgb(124, 139, 161);
  font-weight: 500;
}

.SingleCol_wrapper {
  position: relative;
  margin-top: 3rem;
  width: 100%;
}

.SingleCol_quest {
  margin-top: 1.25rem;
  border-radius: 0.5rem;
  background-color: rgb(237, 242, 247);
  color: rgb(45, 55, 72);
  box-sizing: border-box;
  padding: 1.25rem 2rem;
  width: 50rem;
  font-weight: 700;
}
